@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Denuncias APP</h1>
    <p class="lead">Este es una aplicación desarrollado en C# que permite registrar denuncias de agresiones </p>
    <p><a href="https://github.com/crysisoft/denuncias-app" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

